<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Diary of an iLL Boy – Sex, drugs and depression</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="manifest" href="/favicon_io/site.webmanifest">
</head>

<body>
  <header>
    <nav>
      <a href="/">Home</a>
    </nav>
  </header>
  <h1>Diary of an iLL Boy – Sex, drugs, depression and other humor</h1>
  <section>
    Coming soon...
  </section>
  <footer>
    &copy; Mike iLL
  </footer>
</body>

</html>
